.list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 200px;
    border: 1px solid black;
}

.list__element {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;

}

.list__element > div:nth-child(1) {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}